
apikey = "";

op = "print";

location: {
  latitude = 52.5161;
  longitude = 13.3770;
};

plot: {
  height = 10;
  bar: {
    width = 5;
    color = "RED";
    overlay_color = "BLACK";
  };
  legend: {
    color = "WHITE";
    labels = "RED";
    texthighlight_color = "RED";
  };
  hourly: {
    succeeding_hours = 18;
  };
  daily: {
    label_format = "%d%b";
  };
};
