
# forecast.io API key
apikey = "";

# Default mode for forecast when invoked without any command line
# options. Must be one of print, print-hourly, plot-hourly, plot-daily,
# plot-precip-daily, plot-precip-hourly
op = "print";

# When the last requested data set is >= $max_cache_age seconds old,
# request new data. This will significantly speed up subsequent
# invocations. Set to 0 in order to always bypass the cache.
max_cache_age = 1200;

# File to save cache data to; should be in a location your user has write
# access to.
cache_file = "/tmp/forecast.cache";

# Location coordinates as doubles
location: {
  latitude = 52.5161;
  longitude = 13.3770;
};

# Plot appearance
plot: {

  # The plot's y axis will extend to +/- this value in terminal lines
  height = 10;

  bar: {

    # Bar width in columns
    width = 5;

    # Primary bar color
    # One of: WHITE, BLACK, RED, GREEN, CYAN, BLUE, MAGENTA, YELLOW
    # Name must be uppercase
    color = "RED";

    # Secondary bar color in overlay plots (currently only plot-daily)
    overlay_color = "BLACK";

  };

  legend: {

    # Color used for labels
    color = "WHITE";

    # Color used for highlight/color accents in text
    texthighlight_color = "RED";

  };

  hourly: {

    # plot-hourly: Consecutive hours to plot
    succeeding_hours = 30;

    # Bar labels, see strftime(3) for possible formats
    label_format = "%H:%M";

  };

  daily: {

    # Bar labels, see strftime(3) for possible formats
    label_format = "%d%b";

  };

  precipitation: {
    # Bar color used in plot-precip-daily, plot-precip-hourly
    bar_color = "BLUE";
  };

  daylight: {
    # This is a horizontal plot - fraction of the terminal width to
    # occupy
    width_frac = 0.80;

    # Maximum number of columns to occupy. This is useful for keeping
    # the plot readable on very large terminal windows 
    width_max = 72;
  };

};
